<div id="<%= dom_id aluguel %>">
  <p>
    <strong>Usuário:</strong>
    <%= aluguel.usuario.nome %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= aluguel.livro.nome %>
  </p>

  <p>
    <strong>Data inicial:</strong>
    <%= aluguel.data_inicial %>
  </p>

  <p>
    <strong>Data entrega:</strong>
    <%= aluguel.data_entrega %>
  </p>

</div>
